.container {
  width: 750px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-right: 10px;
  font-family: Inconsolata, monospace;
  position: relative;
}

#nav {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  width: 100%;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

li {
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  background: #B9A38A;
  padding: 3px 6px;
  color: #333;
}


